<html>
  <head>
    {% load static %}
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <meta charset="UTF-8">
      {% if title %}
      <title>{{title}}</title>
      {% else %}
      <title>Thesis Study</title>
      {% endif %}
      <link rel="stylesheet" href="{% static 'kyoapp/style.css' %}">
      {% block headscript %}{% endblock %}
  </head>
  <body>
    <div class="top-bar">
      {% if user.is_authenticated %}
      <p>Welcome, {{ user.username }}. <a href="/" onclick="$('#logout-form').submit(); return false;">Logout?</a></p>
      {% else %}
      <p>Welcome. <a href="{% url 'login' %}">Log in?</a></p>
      {% endif %}
      <form style="display:none" method="post" action="{% url 'logout' %}" id="logout-form">
        {% csrf_token %}
      </form>
      {% block return %}{% endblock %}
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
